body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0d47a1;
}

.dataContainer {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 16px;
}

.details {
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin-top: 16px;
}

.list {
  list-style-type: none;
  text-align: center;
}
